---
const { url, title, desc, pubDate } = Astro.props;

// remove time for datetime
const date = pubDate.toISOString().slice(0, 10);
// format date dd mmm yyyy for user
const formattedDate = Intl.DateTimeFormat("en-GB", {
  day: "2-digit",
  month: "short",
  year: "numeric",
}).format(new Date(pubDate));
---

<li>
  <a
    href={url}
    class="flex md:flex-row flex-col-reverse gap-1 md:gap-2 justify-between p-3.5 md:p-5 border border-gray-600 rounded-xl transition-colors duration-300 hover:bg-gray-800"
  >
    <div>
      <h2 class="text-lg md:text-2xl font-bold md:mb-2">{title}</h2>
      <p class="text-sm md:text-lg">{desc}</p>
    </div>
    <time datetime={date} class="shrink-0 text-xs md:text-base"
      >{formattedDate}</time
    >
  </a>
</li>
